/tmux/.config/tmux/plugins/
/herdr/.config/herdr/plugins/
/herdr/.config/herdr/plugins.json
/herdr/.config/herdr/session.json
/herdr/.config/herdr/herdr-client.log


# Neovim/Vim Spell-Dateien
/nvim/.config/nvim/nvim.log
/nvim/.config/nvim/spell/*.spl
/nvim/.config/nvim/spell/*.sug
/nvim/.config/nvim/spell/*.add


# Generated mail configs
msmtp/.config/msmtp/config
neomutt/.config/neomutt/accounts/
isync/.mbsyncrc
